* {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

ul,
ol {
    list-style-type: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;

}

.page-header {
    padding: 24px;
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
}

.header-nav {
    display: flex;
    gap: 76px;
    align-items: center;
    margin-right: auto;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.page-description {
    background-color: #2e2f42;
    padding: 188px 0;
}

.page-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
}

.btn-ord-svc {
    display: block;
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.btn-ord-svc:hover,
.btn-ord-svc:focus {
    background-color: #404BBF;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.skills {
    padding: 120px 0;
}

.skills-list {
    display: flex;
    gap: 24px;
}

.skills-item .first {
    width: calc((100% - 72px) / 4);
}

.skills-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.skills-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.ourteam {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #fff;
}

.ourteam .title {
    margin-bottom: 72px
}

.ourteam .title,
.portfolio .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.team-item {
    background: #fff;
}

.team-item .first {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.work-cont {
    padding: 32px 0;
}

.team-item-pos {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    font-size: 16px;
}

.portfoilio-item {
    background-color: #fff;
}

.work-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.work-pos {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.page-footer {
    background-color: #2e2f42;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}